name: Backend CI/CD

on:
  push:
    branches: [ "main" ]
    paths:
      - "infra/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configurar AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Instalar Node y CDK
        run: |
          npm install -g aws-cdk
          cd infra
          npm install

      - name: Synth
        run: |
          cd infra
          cdk synth

      - name: Deploy
        run: |
          cd infra
          cdk deploy --require-approval never
