name: Deploy Fullstack App (Frontend + Backend + Lambdas)

on:
  push:
    branches: [ "main" ]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:

  # ===========================================
  # ================ BACKEND ===================
  # ===========================================
  backend:
    runs-on: ubuntu-latest
    
    env:
      AWS_REGION: us-east-1
      AWS_DEFAULT_REGION: us-east-1
      LAMBDA_API: InfraStack-SpaceXApiLambdaD2E4A341-hpLHEvsea8DU
      LAMBDA_IMPORT: InfraStack-SpaceXImportLambda82D521AC-xHcGSI9T3DDu

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # -------- ZIP Y SUBIR LAMBDA API --------
      - name: Crear zip lambda_api
        working-directory: infra/lambda/lambda_api
        run: zip -r ${{ github.workspace }}/lambda_api.zip .

      - name: Subir Lambda API
        run: |
          aws lambda update-function-code \
            --function-name $LAMBDA_API \
            --zip-file fileb://${{ github.workspace }}/lambda_api.zip \
            --region us-east-1

      # -------- ZIP Y SUBIR LAMBDA IMPORT --------
      - name: Crear zip lambda_import
        working-directory: infra/lambda/lambda_import
        run: zip -r ${{ github.workspace }}/lambda_import.zip .

      - name: Subir Lambda Import
        run: |
          aws lambda update-function-code \
            --function-name $LAMBDA_IMPORT \
            --zip-file fileb://${{ github.workspace }}/lambda_import.zip \
            --region us-east-1


  # ===========================================
  # ================ FRONTEND ==================
  # ===========================================
  frontend:
    runs-on: ubuntu-latest
    needs: backend

    env:
      AWS_REGION: us-east-2
      AWS_DEFAULT_REGION: us-east-2
      ECR_REPO: spacex-frontend
      IMAGE_TAG: latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login a ECR
        run: |
          aws ecr get-login-password --region us-east-2 | docker login \
            --username AWS \
            --password-stdin 986518320161.dkr.ecr.us-east-2.amazonaws.com

      - name: Build Docker frontend
        working-directory: spacex-frontend
        run: docker build -t spacex-frontend .

      - name: Tag Docker image
        run: |
          docker tag spacex-frontend:latest \
            986518320161.dkr.ecr.us-east-2.amazonaws.com/${{ env.ECR_REPO }}:${{ env.IMAGE_TAG }}

      - name: Push Docker image to ECR
        run: |
          docker push \
            986518320161.dkr.ecr.us-east-2.amazonaws.com/${{ env.ECR_REPO }}:${{ env.IMAGE_TAG }}

      - name: Update ECS Service
        run: |
          aws ecs update-service \
            --cluster spacex-cluster \
            --service spacex-service \
            --force-new-deployment \
            --region us-east-2
