name: Deploy Fullstack App (Frontend + Backend + Lambdas)

on:
  push:
    branches: [ "main" ]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:

  # ===========================================
  # ================ BACKEND ===================
  # ===========================================
  backend:
    runs-on: ubuntu-latest
    
    env:
      AWS_REGION: us-east-1  # LAMBDAS están en N. Virginia
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install backend dependencies
        working-directory: infra
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: CDK synth and deploy
        working-directory: infra
        run: |
          npm install -g aws-cdk
          cdk bootstrap
          cdk deploy --require-approval never

      # -------- ZIP Y SUBIR LAMBDA API --------
      - name: Crear zip lambda_api
        working-directory: infra/lambda/lambda_api
        run: zip -r ../../lambda_api.zip .

      - name: Subir Lambda API
        run: |
          aws lambda update-function-code \
            --function-name InfraStack-SpaceXApiLambdaD2EA4341-hpLHExsea8DU \
            --zip-file fileb://infra/lambda_api.zip \
            --region us-east-1

      # -------- ZIP Y SUBIR LAMBDA IMPORT --------
      - name: Crear zip lambda_import
        working-directory: infra/lambda/lambda_import
        run: zip -r ../../lambda_import.zip .

      - name: Subir Lambda Import
        run: |
          aws lambda update-function-code \
            --function-name InfraStack-SpaceXImportLambda2D0521AC-xHcGSl9T3DDu \
            --zip-file fileb://infra/lambda_import.zip \
            --region us-east-1


  # ===========================================
  # ================ FRONTEND ==================
  # ===========================================
  frontend:
    runs-on: ubuntu-latest
    needs: backend   # IMPORTANTE: primero backend, luego frontend

    env:
      AWS_REGION: us-east-2          # ECS y ECR del frontend están en Ohio
      ECR_REPO: spacex-frontend
      IMAGE_TAG: latest
      AWS_DEFAULT_REGION: us-east-2

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login a ECR
        run: |
          aws ecr get-login-password --region us-east-2 | docker login \
            --username AWS \
            --password-stdin 986518320161.dkr.ecr.us-east-2.amazonaws.com

      - name: Build Docker frontend
        working-directory: spacex-frontend
        run: |
          docker build -t spacex-frontend .

      - name: Tag Docker image
        run: |
          docker tag spacex-frontend:latest \
            986518320161.dkr.ecr.us-east-2.amazonaws.com/${{ env.ECR_REPO }}:${{ env.IMAGE_TAG }}

      - name: Push Docker image to ECR
        run: |
          docker push \
            986518320161.dkr.ecr.us-east-2.amazonaws.com/${{ env.ECR_REPO }}:${{ env.IMAGE_TAG }}

      - name: Update ECS Service
        run: |
          aws ecs update-service \
            --cluster spacex-cluster \
            --service spacex-service \
            --force-new-deployment \
            --region us-east-2
