name: CI/CD - Deploy Infra & Frontend

on:
  push:
    branches: ["main"]

env:
  AWS_REGION: us-east-2
  ECR_BACKEND_REPO: spacex-backend
  ECR_FRONTEND_REPO: spacex-frontend

jobs:

  backend-build-and-deploy:
    name: Build & Deploy Backend (CDK)
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Install CDK
      run: npm install -g aws-cdk

    - name: Install backend dependencies
      working-directory: ./infra
      run: pip install -r requirements.txt

    - name: Build backend Docker image
      run: |
        docker build -t $ECR_BACKEND_REPO ./infra

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 986518320161.dkr.ecr.$AWS_REGION.amazonaws.com

    - name: Tag & Push backend image
      run: |
        docker tag $ECR_BACKEND_REPO:latest 986518320161.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_BACKEND_REPO:latest
        docker push 986518320161.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_BACKEND_REPO:latest

    - name: Deploy CDK stack
      working-directory: ./infra
      run: cdk deploy --require-approval never


  frontend-build-and-deploy:
    name: Build & Deploy Frontend
    runs-on: ubuntu-latest
    needs: backend-build-and-deploy

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Build frontend image
      run: |
        docker build -t $ECR_FRONTEND_REPO ./spacex-frontend

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 986518320161.dkr.ecr.$AWS_REGION.amazonaws.com

    - name: Tag & Push frontend image
      run: |
        docker tag $ECR_FRONTEND_REPO:latest 986518320161.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_FRONTEND_REPO:latest
        docker push 986518320161.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_FRONTEND_REPO:latest

    - name: Update ECS service to pull new image
      run: |
        aws ecs update-service \
          --cluster spacex-cluster \
          --service spacex-service \
          --force-new-deployment
